@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
html {
  box-sizing: border-box;
}
body {
  margin: 0; height: 100vh;
  font-family: 'Noto Sans', sans-serif;
}
:root {
  --border-radius: 4px;
}

textarea {
  border: 1px solid #ddd;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
}
textarea:focus {
  outline: none;
  border: 1px solid #ccc;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  /* transition: all 0.3s ease-in-out; */
}
.navbar a:hover {
  color: #fff;
  filter: brightness(1.2);
}

#deletedTemplateToast {
  position: absolute;
  top: 60px;
  right: 10px;
}

.okck--menu-sub {
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
}
.okck--code-viewer {
  height: calc(100vh - 460px);
  background: #eee;
  transition: height 0.3s ease-in-out;
}
.okck--code-viewer.with-minimize {
  height: calc(100vh - 110px);
}
.okck--code-viewer iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.okck--code-editor {
  height: 340px;
  transition: height 0.5s ease-in-out;
}
.okck--code-editor.with-minimize {
  height: 0;
}

.okck--code-editor label {
  margin-top: 1rem;
  background-color: #212529;
  color: #fff;
  font-size: .75rem;
  padding: .5rem 1rem;
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.okck--code-editor textarea {
  margin-top: 0; margin-bottom: 1rem;
  border: 1px solid #ddd;
}
.okck--code-content textarea:focus {
  outline: none;
}
.okck--code-save-modal .btn-close {
  position: absolute;
  top: 1rem; right: 1rem;
}
.okck--code-save-modal form {
  margin-bottom: .5rem;
}